<div class="nav-wrapper" id="nav-wrapper">
  <div class="navbar" id="navbar">
    <%= link_to "STELIGENCE", root_path, class: "navbar-links" %>
    <div class="nav-items d-none d-lg-flex">
      <div class="nav-item-left">
        <%= link_to "PILARES", root_path(anchor: 'pilares'), class: "navbar-links" %>
        <%= link_to "DIFERENCIAIS", root_path(anchor: 'diferenciais'), class: "navbar-links" %>
        <%= link_to "CATÁLOGO", root_path(anchor: 'catalogo'), class: "navbar-links" %>
        <%= link_to "DEPOIMENTOS", root_path(anchor: 'depoimentos'), class: "navbar-links" %>
        <%= link_to "CONTATO", root_path(anchor: 'contato'), class: "navbar-links" %>
        <% if user_signed_in? %>
          <%= link_to "Painel Admin", admin_path, class: "navbar-links" if current_user.admin? %>
          <%= link_to "Logout", destroy_user_session_path, class: "navbar-links", method: :delete %>
        <% end %>
      </div>
      <div class="nav-item-right">
        <!-- Links na lateral direita da navbar -->
        <%= link_to root_path, class: "nav-item-logo" do %>
          <%= image_tag 'arcelor-icon.png', class: "logo" %>
        <% end %>
      </div>
    </div>


    <!-- Mobile dropdown list -->
    <div class="nav-mobile d-lg-none">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <!-- Login / Logout links -->
             <% if user_signed_in? %>
                <%= link_to "Painel Admin", admin_path, class: "dropdown-item" if current_user.admin? %>
                <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
            <% end %>

            <div class="dropdown-divider"></div>
              <%= link_to "PILARES", root_path(anchor: 'pilares'), class: "dropdown-item" %>
              <%= link_to "DIFERENCIAIS", root_path(anchor: 'diferenciais'), class: "dropdown-item" %>
              <%= link_to "CATÁLOGO", root_path(anchor: 'catalogo'), class: "dropdown-item" %>
              <%= link_to "DEPOIMENTOS", root_path(anchor: 'depoimentos'), class: "dropdown-item" %>
              <%= link_to "CONTATO", root_path(anchor: 'contato'), class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</div>
