<!-- INICIO BANNER PRINCIPAL -->
<div id="inicio">
  <div id="fale-conosco">
    <%= link_to '#contato' do %>
      <%= image_tag('fale-conosco.png', class: 'fale-conosco-image') %>
    <% end %>
  </div>

  <div class="banner-carousel">
    <div id="main-banner" style="background: url(<%= image_path('banner-01.png') %>); background-position: 30% 50%;">
      <div class="desktop-row-wrapper desktop-banner">
        <div class="desktop-column">
          <%= image_tag('logo-steligence-white.png', class: 'banner1-logo') %>
          <div class="space-line">
            <div></div>
            <div class="large-drop"></div>
            <span></span>
            <div></div>
            <span></span>
            <span></span>
            <div></div>
            <span></span>
            <span></span>
            <div></div>
          </div>
        </div>
        <div class="desktop-column">
          <p class="description-text">Uma metodologia completa, com uma abordagem holística para atender às exigências da construção sustentável. Projetado para dar suporte a incorporadoras, arquitetos, engenheiros e construtoras, no desenvolvimento de edificações inovadoras, rentáveis e prontas para um futuro que já começou.</p>
          <p class="description-text">Se você está desenvolvendo um projeto de grande porte ou de alta padronização, aberto a novas possibilidades construtivas, entre em contato conosco e entenda o que o Steligence<span class="registered">®</span> pode fazer por você.</p>
          <div class="button-position" >
            <p class="more-info"><%= link_to 'SAIBA MAIS', '#catalogo' %></p>
          </div>
        </div>
      </div>
    </div>

    <div id="main-banner" style="background: url(<%= image_path('banner-01.png') %>); background-position: 30% 50%;">
      <%= video_tag "arcelor_video_comp.mp4", autoplay: "autoplay",controls: true, muted: "true", loop: "loop", height: "100%", width: "auto", playsinline: "true", id:"main-video" %>
    </div>

    <div id="main-banner" class="banner-02-bg">
      <div class="desktop-row-wrapper desktop-banner-reverse">

      <div class="desktop-column">

        <div class="quote">
          <p>Precisamos adotar uma visão holística... e explorar os materiais com novos olhos, criando edifícios com módulos que se complementam e otimizando a interação entre cada componente.</p>
          <h5>Prof. Olivier Vassart</h5>
          <p>Chief Executive Officer Steligence<span class="registered">®</span></p>
        </div>

        <div class="button-position-quote" >
          <p class="more-info-color"><%= link_to 'SAIBA MAIS', '#catalogo' %></p>
        </div>

      </div>

      <div class="desktop-column">

        <div class="spacer" style="height: 220px;"></div>

        <div class="space-line line-recolor" style="padding: 0;">
          <span></span>
          <div></div>
          <div></div>
          <div class="large-drop"></div>
          <span></span>
          <div></div>
          <span></span>
          <div></div>
          <div></div>
        </div>
      </div>

      </div>

    </div>

    <div id="main-banner" style="background: url(<%= image_path('banner-02.png') %>); background-position: 70% 50%;">
      <div class="desktop-row-wrapper desktop-banner">
        <div class="desktop-column-wrapper">

          <div class="desktop-row-wrapper">
            <div class="desktop-column">
              <%= image_tag('logo-steligence-white.png', class: 'banner1-logo') %>
            </div>
            <div class="desktop-column">
              <div class="sub-header">
                <h5>Escolha</h5>
                <h5>a construção inteligente.</h5>
                <h5>Esolha Aço.</h5>
                <h5>Escolha Steligence<span class="registered">®</span>.</h5>
              </div>
            </div>
          </div>

          <div class="spacer"></div>

          <div class="space-line" style="padding: 0;">
            <span class="mobile-hidden"></span>
            <div class="mobile-hidden"></div>
            <span class="mobile-hidden"></span>
            <div class="mobile-hidden"></div>
            <span class="mobile-hidden"></span>
            <div class="large-drop"></div>
            <div class="mobile-hidden"></div>
            <div class="mobile-hidden"></div>
            <div></div>
            <div></div>
            <div></div>
            <span class="mobile-hidden"></span>
            <div></div>
            <div class="large-drop mobile-hidden"></div>
            <span class="desktop-hidden"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- FIM BANNER PRINCIPAL -->

<!-- INICIO PILARES -->
<div class="cornerstone-wrapper">
      <%= image_tag('white-stripes.svg', class: 'white-stripes') %>
      <%= image_tag('orange-stripes.svg', class: 'orange-stripes') %>
  <div class="cornerstone-carousel">

    <div id="pilares">
      <div class="desktop-column">
        <div class="cornerstone-image-wrapper-intro">
          <%= image_tag('steligence-orange.png') %>
        </div>
      </div>
      <div class="desktop-column cornerstone-text-wrapper">
        <p class="cornerstone-intro">A metodologia Steligence<span class="registered">®</span> avalia o ciclo de vida de um empreendimento partindo de 3 pilares:</p>
      </div>
    </div>

    <div id="pilares">
      <div class="desktop-column">
        <div class="cornerstone-image-wrapper">
          <%= image_tag('ambiental.png') %>
        </div>
      </div>
      <div class="desktop-column">
        <p class="cornerstone-text">Avalia métricas ambientais e os aspectos ecológicos dos produtos e métodos utilizados na construção do empreendimento. Neste pilar, os indicadores de desempenho determinados pelo Steligence<span class="registered">®</span> são:</p>
        <p class="cornerstone-topic">Eficiência Energética</p><br>
        <p class="cornerstone-topic">Consumo de Recursos Naturais</p><br>
        <p class="cornerstone-topic">Emissões Nocivas</p><br>
        <p class="cornerstone-topic">Potenciais de Reutilização e Reciclagem</p>
      </div>
    </div>

    <div id="pilares">
      <div class="desktop-column">
        <div class="cornerstone-image-wrapper">
          <%= image_tag('economica.png') %>
        </div>
      </div>
      <div class="desktop-column">
        <p class="cornerstone-text">Mensura os custos da construção e sua eficiência. No âmbito Econômico, o Steligence<span class="registered">®</span> determinou três indicadores de desempenho:</p>
        <p class="cornerstone-topic">Custo global do empreendimento:<br> Construção e Operação</p><br>
        <p class="cornerstone-topic">Velocidade da Construção</p><br>
        <p class="cornerstone-topic">Qualidade da Construção</p><br>
      </div>
    </div>

    <div id="pilares">
      <div class="desktop-column">
        <div class="cornerstone-image-wrapper">
          <%= image_tag('social.png') %>
        </div>
      </div>
      <div class="desktop-column">
        <p class="cornerstone-text">Mensura a aceitação social e o bem-estar humano quanto à construção. Nesse quesito, o Steligence<span class="registered">®</span> determinou os seguintes indicadores de desempenho:</p>
        <p class="cornerstone-topic">Conforto Térmico</p><br>
        <p class="cornerstone-topic">Conforto Acústico</p><br>
        <p class="cornerstone-topic">Flexibilidade de Design</p><br>
        <p class="cornerstone-topic">Segurança e Incômodo <br>do Processo de Construção</p>
      </div>
    </div>
  </div>
</div>
<!-- FIM PILARES -->

<!-- INICIO DIFERENCIAIS -->
<% titles = [
  'Otimização <br>de espaço',
  'Flexibilidade arquitetônica',
  'Construção <br>mais leve',
  'Velocidade <br>da construção',
  'Menor custo <br>do empreendimento',
  'Redução <br>de impactos <br>ambientais',
  'Aumento de pontuação em certificações',
  'Logística <br>de canteiro',
  'Segurança <br>de canteiro',
  'Melhoria <br>do conforto'
]%>
<% texts = [
  'A utilização de sistemas construtivos, como a protensão, pode proporcionar redução das distâncias entre pavimentos, e também nas dimensões de pilares e vigas, gerando mais espaço interno livre e economias significativas em elementos de fachada e revestimentos internos.',
  'A aplicação de estruturas mistas utilizando aços de alto desempenho (CIVIL 500) permite o aumento de vãos, ofertando uma maior flexibilidade e liberdade arquitetônica.',
  'Menor peso do edifício atuando nas fundações, quando aplicadas estruturas metálicas e vedações leves. Menos materiais promovem também redução de caminhões e tráfego na obra e em seu entorno.',
  'Sistemas construtivos industrializados resultam em maior qualidade e rapidez na execução, geram menos resíduos e promovem a redução de custos.',
  'Steligence® apresenta, através do comparativo entre sistemas construtivos qual tem o menor custo global de construção, podendo chegar a economias da ordem de 20%.',
  'A utilização de materiais de alto desempenho contra a corrosão, como o Magnelis®, permite atingir reduções significativas de impactos ambientais e de custos de manutenção, devido ao aumento da vida útil dos materiais.',
  'A aplicação de produtos ArcelorMittal, com as respectivas Declarações Ambientais de Produto Tipo 3 (DAP), permite atender aos requisitos das mais avançadas certificações ambientais como LEED, AQUA e BREEAM.',
  'Soluções e métodos construtivos industrializados como armaduras pré-montadas reduzem a necessidade de espaço no canteiro de obras, além de facilitar o planejamento e acompanhamento do cronograma de obras.',
  'O uso de soluções como as Fôrmas incorporadas proporciona mais segurança no canteiro da obra, devido à diminuição de operações in loco e à menor necessidade de mão de obra.',
  'Coberturas e fachadas em aço são soluções isolantes termoacústicas que oferecem maior conforto e menores gastos com energia.'
]%>
<div id="diferencial" class="differential-wrapper">
  <div class="steligence-container">

  <div class="desktop-column-wrapper">
  <div class="desktop-row-wrapper">
  <div class="desktop-column">
    <div class="differential-main-title">
      <div class="differential-10">
        <p>Principais diferenciais de uma obra com Steligence<span class="registered">®</span></p>
      </div>
      <%= image_tag('logo-steligence-cor.png', style: 'width: 120px; object-fit: contain; margin-top: -88px;', class: 'desktop-hidden') %>
    </div>
  </div>

  <div class="desktop-column">
    <div class="differential-carousel">
      <% (1..10).each do |number| %>
        <div id="diferenciais">
          <%= image_tag ("#{number}.png"), class: 'differential-image' %>
          <p class="differential-title">
            <%= raw titles[number - 1] %>
          </p>
          <p class="differential-text">
            <%= texts[number - 1] %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  </div>
  </div>
</div>
<!-- FIM DIFERENCIAIS -->

<!-- INICIO CATALOGO -->


<div class="desktop-row-wrapper catalog-row-wrapper">
  <div id="catalogo">
      <div class="fundacao lock-bg"></div>
      <div class="piso lock-bg"></div>
      <div class="estrutura lock-bg"></div>
      <div class="laje lock-bg"></div>
      <div class="vedacao lock-bg"></div>
      <div class="envelope lock-bg"></div>
      <div class="hover lock-bg"></div>

      <div class="catalog-click-layer">
        <div class="" id='out-event'></div>
        <div class="catalog-event-click" id='fundacao-event'></div>
        <div class="catalog-event-click" id='piso-event'></div>
        <div class="catalog-event-click" id='estrutura-event'></div>
        <div class="catalog-event-click" id='laje-event'></div>
        <div class="catalog-event-click" id='vedacao-event'></div>
        <div class="catalog-event-click" id='envelope-event'></div>

        <div class="tap-sign">
          <div class="icon">
            <i class="fas fa-hand-point-left"></i>
          </div>
          <p>clique na imagem para saber mais.</p>
        </div>

        <div class="handbook-box">
          <%= link_to "Clique aqui e conheça todas as soluções em aço para Construção Civil da ArcelorMittal", download_handbook_path, class: 'handbook-link' %>
        </div>

      </div>


      <div class="catalog-text-box">
        <div id="intro-margin" class="catalog-intro desktop-margin show-layer">
          <%= image_tag('steligence-orange.png', class: 'catalog-logo') %>
          <p>O Steligence<span class="registered">®</span> é a oportunidade de otimizar todos os aspectos de um projeto, comparando os principais métodos construtivos do mercado com as soluções<span class="orange-color"> Best-in-Class</span> da ArcelorMittal, considerando todas as etapas construtivas.</p>
        </div>

        <div class="catalog-fundacao desktop-margin">
          <div class="catalog-description">
            <%= image_tag('square-fundacao.png') %>
            <p class="fundacao-color">Fundações e Contenções</p>
            <%= render 'dash_line', locals:{ color: 'fundacao' } %>
          </div>
          <div class="fundacao-carousel">
            <div>
              <p style="" >Elementos Armados com Fôrmas Incorporadas</p>
              <p>O uso e aplicação de elementos armados com fôrmas incorporadas permite a eliminação de mão de obra de carpintaria e armação na etapa de fundação, aliados a menor necessidade de movimentação de terra (escavação e reaterro). Além disso, possibilita acelerar o cronograma de obra, garantindo a qualidade e a precisão de montagem.</p>
            </div>
            <div>
              <p>Estaca-Prancha</p>
              <p>A ArcelorMittal é a maior produtora de estacas-prancha laminadas a quente, oferecendo ampla variedade de perfis para atender às necessidades específicas de cada projeto. Aliando um custo competitivo à rapidez de execução, a parede de estacas-prancha metálicas tem se mostrado a solução mais econômica para diversas obras. Com uma grande gama de alternativas, é possível adequar a solução aos mais variados tipos de construção, desde terminais portuários até passagens de nível rodoviárias, subsolos, entre outros.</p>
            </div>
            <div>
              <p>Tubos Metálicos</p>
              <p>Devido à sua geometria e à alta resistência do aço, os tubos estruturais e de grandes dimensões possuem elevada capacidade para suportar esforços. Os tubos são produzidos com utilização de solda helicoidal para aplicações como estacas, fundações de cais de portos, offshore, pilares e estruturas tubulares.</p>
            </div>
          </div>
        </div>

        <div class="catalog-piso desktop-margin">
          <div class="catalog-description">
            <%= image_tag('square-piso.png') %>
            <p class="piso-color" >Piso</p>
            <%= render 'dash_line', locals:{ color: 'piso' } %>
          </div>
          <div class="piso-carousel">
            <div>
              <p>Tela Soldada</p>
              <p>A aplicação em lajes e pisos possibilita aumento de produtividade na montagem das etapas estruturais e consequente redução de custos. Seu uso ainda garante maior qualidade de execução,por se tratar de processo industrializado de fabricação. Além disso, a ArcelorMittal propõe otimizações na aplicação, através da produção de abrangente número de telas especiais - que podem ser fabricadas sob medida, reduzindo perdas da ordem de 20%.</p>
            </div>
            <div>
              <p>Dramix<span class="registered">®</span></p>
              <p>O uso de fibras de aço Dramix<span class="registered">®</span> garante um controle de fissuração elevado, além de proporcionar maior estabilidade e integridade às juntas de dilatação do concreto. Além disso, permite um aumento de produtividade pela redução de mão de obra e elimina cortes e perdas de aço no processo de fabricação.</p>
            </div>
          </div>
        </div>

        <div class="catalog-estrutura desktop-margin">
          <div class="catalog-description">
            <%= image_tag('square-estrutura.png') %>
            <p class="estrutura-color">Estrutura</p>
            <%= render 'dash_line', locals:{ color: 'estrutura' } %>
          </div>
          <div class="estrutura-carousel">
            <div>
              <p>Armadura Pronta Soldada</p>
              <p>A aplicação de elementos armados para pilares, vigas, armadura de punção e outros, em estruturas de concreto, proporciona ganhos representativos em qualidade e produtividade no canteiro. O processo industrializado de fabricação garante maior rigidez aos elementos, por se tratar de ligação com solda entre as barras, e, consequentemente, maior facilidade no posicionamento da fôrma.</p>
            </div>
            <div>
              <p>Estruturas Metálicas Mistas</p>
              <p>A ArcelorMittal produz aços planos laminados a quente para a aplicação em perfis soldados e tubulares para estruturas de edificações e de pontes. Os perfis podem ser produzidos a partir de aços de qualidade estrutural, como CST Civil 300, CST Civil 350 e CST Civil 500, ou ainda, para maior resistência à corrosão atmosférica, serem fabricados com aços CST COR 400 e CST COR 500. Para perfis estruturais de espessuras de até 2 mm, há a opção de materiais revestidos com propriedades mecânicas garantidas (ZAR) e diversas opções de revestimento metálico para a proteção à corrosão.</p>
            </div>
          </div>
        </div>

        <div class="catalog-laje desktop-margin">
          <div class="catalog-description">
            <%= image_tag('square-laje.png') %>
            <p class="laje-color" >Laje</p>
            <%= render 'dash_line', locals:{ color: 'laje' } %>
          </div>
          <div class="laje-carousel">
            <div>
              <p>Trelifácil<span class="registered">®</span></p>
              <p>Desenvolvida para atender às exigências do mercado por produtos que racionalizem os processos construtivos e diminuam seus custos, é composta por treliça de aço, espaçadores plásticos e fôrma de aço zincado - que confere maior resistência à corrosão. A Trelifácil<span class="registered">®</span> possui um peso cerca de 80% menor quando comparado ao de uma vigota comum, o que oferece leveza, praticidade, qualidade e simplicidade na aplicação.</p>
            </div>
            <div>
              <p>Steel Deck - Polydeck 59S</p>
              <p>A laje Steel Deck atua como fôrma na execução da laje e como armadura positiva depois da cura do concreto. O perfil Polydeck 59S reduz ou até mesmo elimina totalmente as escoras no momento da concretagem, gera menos resíduos e traz mais velocidade à obra, diminuindo a mão de obra no canteiro e o transporte de insumos. O Polydeck 59S pode ser especificado para obras de estruturas metálicas ou de concreto.</p>
            </div>
            <div>
              <p>Cordoalha de Protensão</p>
              <p>A aplicação da protensão proporciona redução do número de pilares, maiores vãos, peças estruturais mais esbeltas e maior durabilidade da estrutura. Uma vez que as instalações hidráulica, elétrica e de ar-condicionado podem ser posicionadas rente ao fundo da laje, não tendo de passar por baixo de vigas (inexistentes na solução), a distância entre os pisos fica menor, com uma economia de aproximadamente 50 cm de altura em cada andar.</p>
            </div>
          </div>
        </div>

        <div class="catalog-vedacao desktop-margin">
          <div class="catalog-description">
            <%= image_tag('square-vedacao.png') %>
            <p class="vedacao-color" >Vedação</p>
            <%= render 'dash_line', locals:{ color: 'envelope' } %>
          </div>
          <div class="vedacao-carousel">
            <div>
              <p>Murfor<span class="registered">®</span></p>
              <p>Reforço de aço para alvenaria produzido pela Belgo Bekaert Arames, que proporciona melhor desempenho estrutural, previne trincas, aumenta a resistência e oferece novas possibilidades arquitetônicas. Sua aplicação reduz a necessidade de manutenção do edifício e oferece melhor durabilidade construtiva.</p>
            </div>
            <div>
              <p>Drywall e Light Steel Framing</p>
              <p>Os sistemas em perfis leves galvanizados propiciam facilidade de montagem e rapidez de execução, com a consequente redução de prazos e de custos. Conformados a frio, a partir de chapas galvanizadas por sequência de rolos, oferecem resistência à corrosão e proporcionam excelente custo/benefício. São utilizados nas vedações internas e externas de edifícios, em conjunto com chapas delgadas e isolantes térmicos, trazendo ganhos em conforto térmico e em velocidade de obra.</p>
            </div>
          </div>
        </div>

        <div class="catalog-envelope desktop-margin">
          <div class="catalog-description">
            <%= image_tag('square-envelope.png') %>
            <p class="envelope-color" >Envelope</p>
            <%= render 'dash_line', locals:{ color: 'envelope' } %>
          </div>
          <div class="envelope-carousel">
            <div>
              <p>Global Roof e Global Wall</p>
              <p>As coberturas e fachadas GlobalRoof e GlobalWall Perfilor compreendem sistemas-sanduíche formados por perfis metálicos, mantas isolantes, chapas perfuradas e membranas; projetados para oferecer elevado isolamento térmico, acústico e, dependendo da opção, absorção acústica. Os sistemas GlobalRoof são únicos quando o assunto é acústica em coberturas metálicas. Disponíveis em diversas espessuras de chapas e de acabamentos, como PVDF resistente a UV, brancos com alto SRI e em poliuretano de alta camada (Max 60), entre outros.</p>
            </div>
            <div>
              <p>Painéis Termoacústicos Termilor</p>
              <p>Os painéis Termilor, nas suas versões Termilor Roof para coberturas e Termilor Wall para fachadas, utilizam poliisocianurato (PIR) injetado como isolante térmico em espessuras de 30, 40 ou 50 mm. São voltados para edificações nas quais o conforto térmico é uma exigência de projeto. Sua capacidade isolante e sua estética os tornaram peças frequentes nas coberturas e fachadas de edificações onde conforto térmico e arquitetura tenham que ser resolvidos por um único produto.</p>
            </div>
            <div>
              <p>Magnelis<span class="registered">®</span></p>
              <p>Revestimento metálico inovador, que possui camada de proteção estável e duradoura oferecendo maior proteção em bordas cortadas e perfurações. Seu uso resulta em uma proteção altamente eficaz contra corrosão, sendo opção para aplicações externas e internas como coberturas, terças de telhado, revestimentos de fachadas, fôrma colaborante steel deck, perfis leves, chapas expandidas ou perfuradas, entre outros. Magnelis<span class="registered">®</span> é recomendado para o uso em ambiente agrícola, como galpões para cultura de animais, onde há presença de amônia. Graças à sua exclusiva composição de zinco, 3,5% de alumínio e 3% de magnésio, Magnelis<span class="registered">®</span> responde à demanda por maior durabilidade e redução dos custos de manutenção.</p>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
<div>

</div>



<!-- FIM CATALOGO -->
<div id="pdf-wrapper"></div>
<!-- INICIO DEPOIMENTOS -->
<div class="testimonial-carousel">
  <div id="depoimentos" class="wilmotte">
    <div class="steligence-container">
      <p>‘’O aço é a base da arquitetura hoje, a base da construção. Combinando as noções de solidez e modulação, possibilita que a edificação se desenvolva de forma rápida e eficiente’’.</p>
      <div></div>
      <p class="deposition-name">Jean-Michel Wilmotte</p>
      <p class="deposition-title">Arquiteto / Urbanista / Designer </p>
    </div>
  </div>

  <div id="depoimentos" class="ludkovsky">
    <div class="steligence-container">
      <p>‘’Desenvolvemos o Steligence<span class="registered">®</span> porque acredito que podemos ajudar arquitetos, engenheiros e desenvolvedores a construir edifícios de forma mais sustentável e econômica.’‘</p>
      <div></div>
      <p class="deposition-name">Greg Ludkovsky</p>
      <p class="deposition-title">Vice Presidente da ArcelorMittal.</p>
    </div>
  </div>

  <div id="depoimentos" class="grohmann">
    <div class="steligence-container">
      <p>‘’Nós devemos quebrar as barreiras entre arquitetos, engenheiros e desenvolvedores, e colaborar para projetar para o futuro, colocando um foco muito maior sobre sustentabilidade.’’</p>
      <div></div>
      <p class="deposition-name">Prof. Manfred Grohmann</p>
      <p class="deposition-title">Structural engineer,<br>Bollinger + Grohmann</p>
    </div>
  </div>

</div>
<!-- FIM DEPOIMENTOS -->

<!-- INICIO CONTATO -->
<div id="contato">
  <div class="text-wrapper">
    <p> A evolução da construção civil. Disponível para um futuro que já começou.</p>
  </div>
  <div class="form-box">
    <p>Deixe suas informações para entrarmos em contato com você.</p>
    <%= simple_form_for @lead do |lead| %>
      <%= lead.input :nome, label: false, placeholder: "Nome", input_html: { class: "steligence-input" } %>
      <%= lead.input :empresa, label: false, placeholder: "Empresa", input_html: { class: "steligence-input" } %>
      <%= lead.input :email, label: false, placeholder: "Email", input_html: { class: "steligence-input" } %>
      <%= lead.input :telefone, label: false, placeholder: "Telefone", input_html: { class: "steligence-input" } %>
      <%= lead.submit "CADASTRAR", class: 'contact-button' %>
    <% end %>
  </div>
</div>
<!-- FIM CONTATO -->
</div>
<div class="contact-options-wrapper">
  <div class="contact-options">
    <p><%= link_to 'Sobre a ArcelorMittal', 'http://brasil.arcelormittal.com.br/' %></p>
    <p><%= link_to 'Loja ArcelorMittal', 'https://loja.arcelormittal.com.br' %></p>
    <p><%= link_to 'Atendimento ao Cliente', 'http://brasil.arcelormittal.com.br/fale-conosco' %></p>
    <p><%= link_to 'Contato', '#contato' %></p>
  </div>
</div>

<%= javascript_pack_tag 'animations' %>

<script>
  let handIcon = document.querySelector('.icon');

  let moveHand = () => {
    handIcon.classList.toggle('move-icon');
  }
  setInterval(moveHand, 1000);
</script>
