<!-- INICIO BANNER PRINCIPAL -->
<div class="banner-carousel">
  <div id="main-banner" style="background: url(<%= image_path('banner-02.svg') %>); background-position: 16% 0%;">
    <div class="product-title">
      <p class="slogan">The Intelligent construction choice</p>
      <h1>Steligence <div class="registered">®</div></h1>
    </div>
    <div class="space-line">
      <div></div>
      <div class="large-drop"></div>
      <span></span>
      <div></div>
      <span></span>
      <span></span>
      <div></div>
      <span></span>
      <span></span>
      <div></div>
    </div>
    <p class="description-text">Uma metodologia completa, com uma abordagem holística para atender às exigências da construção sustentável. Projetado para dar suporte a incorporadoras, arquitetos, engenheiros e construtoras no desenvolvimento de edificações inovadoras, rentáveis e prontas para um futuro que já começou.</p>
    <p class="description-text">Se você possui uma obra de grande porte ou de alta padronização, e está com o projeto aberto a mudanças, entre em contato conosco e entenda o que o Steligence® pode fazer por você.</p>
    <div class="button-position" >
      <p class="more-info">SAIBA MAIS</p>
    </div>
  </div>
  <div id="main-banner" style="background: url(<%= image_path('banner-03.png') %>); background-position: 60% 0;">
    <div class="quote">
      <p>Precisamos adotar uma visão holística... e explorar os materiais com novos olhos, criando edifícios com módulos que se complementam e otimizando a interação entre cada componente.</p>
      <h5>Prof. Oliver Vassart</h5>
      <p>Chief Executive Officer Steligence®</p>
    </div>
    <div class="button-position-quote" >
      <p class="more-info-color">SAIBA MAIS</p>
    </div>
    <div class="space-line line-recolor" style="padding: 0; margin-top: 8%;">
      <span></span>
      <div></div>
      <div></div>
      <div class="large-drop"></div>
      <span></span>
      <div></div>
      <span></span>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="main-banner" style="background: url(<%= image_path('banner-01.png') %>); background-position: 80% 0%;">
    <div class="product-title space-title">
      <p class="slogan">The Intelligent construction choice</p>
      <h1>Steligence <div class="registered">®</div></h1>
    </div>
    <div class="sub-header">
      <h5>Escolha</h5>
      <h5>a construção inteligente.</h5>
      <h5>Esolha Aço.</h5>
      <h5>Escolha Steligence<div class="registered small-registered">®</div>.</h5>
    </div>
    <div class="space-line" style="padding: 0; margin-top: 16%;">
      <div class="large-drop"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <span></span>
    </div>
  </div>
</div>
<!-- FIM BANNER PRINCIPAL -->

<!-- INICIO PILARES -->
<div class="cornerstone-wrapper">
  <%= image_tag('white-stripes.svg', class: "white-stripes") %>
  <%= image_tag('orange-stripes.svg', class: "orange-stripes") %>
  <div class="cornerstone-carousel">
    <div id="pilares">
      <div class="cornerstone-image-wrapper">
        <%= image_tag('ambiental.png') %>
      </div>

      <p class="cornerstone-text">Avalia métricas ambientais e os aspectos ecológicos dos produtos e métodos utilizados na construção do empreendimento. Neste pilar, os indicadores de desempenho determinados pelo Steligence® são:</p>
      <p class="cornerstone-topic">Eficiência Energética</p><br>
      <p class="cornerstone-topic">Energia Renovável</p><br>
      <p class="cornerstone-topic">Consumo de Recursos Naturais</p><br>
      <p class="cornerstone-topic">Emissões Nocivas</p><br>
      <p class="cornerstone-topic">Fim da vida do empreendimento e potenciais reutilizações e benefícios de reciclagem</p>
    </div>
    <div id="pilares">
      <div class="cornerstone-image-wrapper">
        <%= image_tag('economica.png') %>
      </div>
      <p class="cornerstone-text">Mensura os custos da construção e métricas de valores. No âmbito Econômico, o Steligence® determinou três indicadores de desempenho:</p>
      <p class="cornerstone-topic">Custo do Ciclo de Vida - Antes da utilização e custo global do empreendimento</p><br>
      <p class="cornerstone-topic">Velocidade da Construção</p><br>
      <p class="cornerstone-topic">Qualidade da Construção</p><br>
    </div>
    <div id="pilares">
      <div class="cornerstone-image-wrapper">
        <%= image_tag('social.png') %>
      </div>
      <p class="cornerstone-text">Mensura a aceitação social e o bem-estar humano quanto à construção. Nesse quesito, o Steligence determinou os seguintes indicadores de desempenho:</p>
      <p class="cornerstone-topic">Conforto Térmico</p><br>
      <p class="cornerstone-topic">Conforto Acústico</p><br>
      <p class="cornerstone-topic">Flexibilidade de Design</p><br>
      <p class="cornerstone-topic">Segurança e Incômodo do Processo de Construção</p>
    </div>
  </div>
</div>
<!-- FIM PILARES -->

<!-- INICIO DIFERENCIAIS -->
<% titles = [
  'Otimização de espaço',
  'Flexibilidade arquitetônica',
  'Construção mais leve',
  'Velocidade da construção',
  'Menor custo do empreendimento',
  'Redução de impactos ambientais',
  'Aumento de pontuação em certificações',
  'Logística de canteiro',
  'Segurança de canteiro',
  'Melhoria do conforto'
]%>
<% texts = [
  'A utilização de sistemas construtivos, como a protensão, pode proporcionar redução nas dimensões de pilares e vigas, além das distâncias entre pavimentos, gerando mais espaço interno livre e economias significativas em elementos de fachada e revestimentos internos.',
  'A aplicação estruturas mistas utilizando aços de alto desempenho (CIVIL 500) permite o aumento de vãos, ofertando uma maior flexibilidade e liberdade arquitetônica.',
  'Menor peso do edifício atuando nas fundações quando aplicadas estruturas metálicas e vedações leves. Menos materiais promovem também redução de caminhões e tráfego na obra e em seu entorno.',
  'Sistemas construtivos industrializados resultam em maior qualidade e rapidez na execução, geram menos resíduos e promovem a redução de custos.',
  'Steligence® apresenta, através do comparativo entre sistemas construtivos qual tem o menor custo global de construção, podendo chegar a economias da ordem de 20%.',
  'A utilização de materiais de alto desempenho contra a corrosão, como o Magnelis®, permite atingir reduções significativas de impactos ambientais e de custos de manutenção devido ao aumento de vida útil dos materiais.',
  'A aplicação de produtos ArcelorMittal, com as respectivas Declarações Ambientais de produto tipo 3 (DAP), permite atender os requisitos das mais avançadas certificações ambientais como LEED, AQUA e BREEAM.',
  'Soluções e métodos construtivos industrializados como armaduras pré-montadas reduzem a necessidade de espaço no canteiro de obras além de facilitar o planejamento e acompanhamento do cronograma de obras.',
  'O uso de soluções como as Fôrmas incorporadas proporcionam mais segurança no canteiro da obra devido à diminuição de operações in loco e necessidade de menos mão de obra.',
  'Coberturas e fachadas em aço em soluções isolantes termoacústicas oferecem maior conforto e menores gastos com energia.'
]%>
<div class="differential-wrapper">
  <div class="differential-title">
    <div class="differential-10">

      <p>Principais diferenciais de uma obra com Steligence®</p>
    </div>

    <div>
      <p>The Intelligent construction choice</p>
      <p>Steligence <div>®</div></p>
    </div>

  </div>
  <div class="differential-carousel">
    <% (1..10).each do |number| %>
      <div id="diferenciais">
        <%= image_tag ("#{number}.png"), class: 'differential-image' %>
        <p>
          <%= titles[number - 1] %>
        </p>
        <p>
          <%= texts[number - 1] %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="differential-stripe"></div>
</div>
<!-- FIM DIFERENCIAIS -->

<!-- INICIO CATALOGO -->
<div id="catalogo">
  <%= image_tag('building') %>
</div>
<!-- FIM CATALOGO -->

<!-- INICIO DEPOIMENTOS -->
<div class="testimonial-carousel">
  <div id="depoimentos" style="background: url(<%= image_path('Wilmoff-JM') %>); background-position: center center;">
  </div>
  <div id="depoimentos" style="background: url(<%= image_path('Grohmann-M') %>); background-position: center center;">
  </div>
  <div id="depoimentos" style="background: url(<%= image_path('Ludkovsky-G') %>); background-position: top center;">
  </div>
</div>
<!-- FIM DEPOIMENTOS -->

<!-- INICIO CONTATO -->
<div id="contato">

</div>
<!-- FIM CONTATO -->
